{{!-- <h1>this is header</h1>                      static header --}}
{{!-- <h1>{{title}}</h1>                            for dynamic --}}

<header>
    <h1>{{title}}</h1>  
    <a href="/">Weather</a>
    <a href="/about" >About</a>
    </header>
